.shiny-notification {
	position: fixed;
	top: 87%;
	left: 33%;
	right: 33%;
	opacity: 1;
}


/* mod_dashboard_structure */

.shinyDirectories {
	color: #fff;
	padding: 9%;
	background-color: #337ab7;
	border-color: #2e6da4;
}

#dashboard_structure-create_db {
	color: #fff;
	padding: 8.4%;
	background-color: #337ab7;
	border-color: #2e6da4;
}


/* mod_query */

#query_results {
	height: 500px;
	overflow-y: scroll;
	overflow-x: scroll;
}


/* mod_view_tables */

#display_table {
	height: 500px;
	overflow-y: scroll;
	overflow-x: scroll;
}
